{
	"extends": [
		"airbnb",
		"airbnb-typescript",
		"airbnb/hooks",
		"next/core-web-vitals",
		"eslint:recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:sonarjs/recommended",
		"plugin:tailwindcss/recommended",
		"plugin:import/recommended",
		"plugin:import/typescript",
		"plugin:security/recommended",
		"plugin:react/recommended",
		"plugin:prettier/recommended"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json",
		"ecmaFeatures": { "jsx": true },
		"ecmaVersion": "latest",
		"sourceType": "module",
		"files": [".ts", ".tsx", ".js", ".jsx"]
	},
	"plugins": ["@typescript-eslint", "sonarjs", "prettier"],
	"root": true,
	"settings": {
		"import/extensions": [".ts", ".tsx", ".js", ".jsx"]
	},
	"rules": {
		"vars-on-top": "off",
		"no-var": "warn"
	}
}
